*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
  min-height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.text-center {
    text-align: center;
}

.font-large {
    font-size: 46px
}

.bold {
    font-weight: 900;
}

.nav {
    background-color: #00334e;
    padding: 0 20px;
}

.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item > a{
    color: #ffffff;
}

.nav-logo {
    width: 100px;
}

.homepage {
    background-image: url("./images/star-wars-lego.jpeg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 54px);
}

.list-item {
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 20px;
    background-color: cadetblue;
    border-radius: 5px;
    border: 1px solid #fefefe;
}

.parralax-container {
    background: url('./images/space.png');
    width: 100vw;
    height: 300vh;
}

.parralax-fg {
    width: 60%;
    margin: auto;
    color: yellow;
    font-size: 32px;
    line-height: 2.5;
}

.film-data {
    margin: 10px 0;
    line-height: 1.2;
}
