.App { 
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 30px 20px;
}

.text-center {
    text-align: center;
}

.list-item {
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 20px;
    background-color: cadetblue;
    border-radius: 5px;
    border: 1px solid #fefefe;
}

